include _ffi_build.py
include src/uringcore.c
include src/uringcore_liburing.c
include THIRD_PARTY_LICENSES/liburing-MIT.txt
recursive-include docs *.md
recursive-include uringloop *.py *.pyi
include uringloop/py.typed
exclude uringloop/_liburing.c
exclude uringloop/_liburing.o
exclude uringloop/_liburing*.so
recursive-exclude uringloop/__pycache__ *
